In [2]:
from pycaz.schism.tidefac import read_tidefacout

In [3]:
# A output from the tide_fac.f can be read using read_tidefacout
# which returns a Tidefac object

fname = "/run/media/khan/Workbench/yass2021/model/tide_fac.out"
tidefac = read_tidefacout(fname)
tidefac

{'year': 2021.0,
 'month': 5,
 'day': 20,
 'hour': 0,
 'rnday': 10.0,
 'const': {'M2': {'nf': 0.98816, 'ear': 154.91},
  'M3': {'nf': 0.98238, 'ear': 232.37},
  'M4': {'nf': 0.97646, 'ear': 309.82},
  'M6': {'nf': 0.9649, 'ear': 104.73},
  'M8': {'nf': 0.95348, 'ear': 259.65},
  'MF': {'nf': 1.1788, 'ear': 298.13},
  'MM': {'nf': 0.95728, 'ear': 286.03},
  'MN4': {'nf': 0.97646, 'ear': 23.79},
  'MS4': {'nf': 0.98816, 'ear': 154.91},
  'MSF': {'nf': 0.98816, 'ear': 203.04},
  'MU2': {'nf': 0.98816, 'ear': 311.87},
  'N2': {'nf': 0.98816, 'ear': 228.88},
  'NU2': {'nf': 0.98816, 'ear': 237.9},
  'O1': {'nf': 1.07983, 'ear': 18.39},
  'P1': {'nf': 1.0, 'ear': 212.12},
  'Q1': {'nf': 1.07983, 'ear': 92.36},
  'R2': {'nf': 1.0, 'ear': 314.57},
  'S1': {'nf': 1.0, 'ear': 180.0},
  'S2': {'nf': 1.0, 'ear': 0.0},
  'S4': {'nf': 1.0, 'ear': 0.0},
  'SSA': {'nf': 1.0, 'ear': 115.76},
  'T2': {'nf': 1.0, 'ear': 225.43},
  'LAMB': {'nf': 0.98816, 'ear': 251.92},
  'L2': {'nf': 0.0, 'ear': 243.57},
  'K2': {'nf': 1.11113, 'ear': 99.37},
  'K1': {'nf': 1.0495, 'ear': 139.93},
  'J1': {'nf': 1.07879, 'ear': 62.55},
  '2N2': {'nf': 0.98816, 'ear': 302.85}}}

In [8]:
# the constants can be accessed as tidefac.consts
tidefac.consts

{'M2': {'nf': 0.98816, 'ear': 154.91},
 'M3': {'nf': 0.98238, 'ear': 232.37},
 'M4': {'nf': 0.97646, 'ear': 309.82},
 'M6': {'nf': 0.9649, 'ear': 104.73},
 'M8': {'nf': 0.95348, 'ear': 259.65},
 'MF': {'nf': 1.1788, 'ear': 298.13},
 'MM': {'nf': 0.95728, 'ear': 286.03},
 'MN4': {'nf': 0.97646, 'ear': 23.79},
 'MS4': {'nf': 0.98816, 'ear': 154.91},
 'MSF': {'nf': 0.98816, 'ear': 203.04},
 'MU2': {'nf': 0.98816, 'ear': 311.87},
 'N2': {'nf': 0.98816, 'ear': 228.88},
 'NU2': {'nf': 0.98816, 'ear': 237.9},
 'O1': {'nf': 1.07983, 'ear': 18.39},
 'P1': {'nf': 1.0, 'ear': 212.12},
 'Q1': {'nf': 1.07983, 'ear': 92.36},
 'R2': {'nf': 1.0, 'ear': 314.57},
 'S1': {'nf': 1.0, 'ear': 180.0},
 'S2': {'nf': 1.0, 'ear': 0.0},
 'S4': {'nf': 1.0, 'ear': 0.0},
 'SSA': {'nf': 1.0, 'ear': 115.76},
 'T2': {'nf': 1.0, 'ear': 225.43},
 'LAMB': {'nf': 0.98816, 'ear': 251.92},
 'L2': {'nf': 0.0, 'ear': 243.57},
 'K2': {'nf': 1.11113, 'ear': 99.37},
 'K1': {'nf': 1.0495, 'ear': 139.93},
 'J1': {'nf': 1.07879, 'ear': 62.55},
 '2N2': {'nf': 0.98816, 'ear': 302.85}}

In [10]:
# To look at the constants as dataframe
import pandas as pd
pd.DataFrame(tidefac.consts).T

           nf     ear
M2    0.98816  154.91
M3    0.98238  232.37
M4    0.97646  309.82
M6    0.96490  104.73
M8    0.95348  259.65
MF    1.17880  298.13
MM    0.95728  286.03
MN4   0.97646   23.79
MS4   0.98816  154.91
MSF   0.98816  203.04
MU2   0.98816  311.87
N2    0.98816  228.88
NU2   0.98816  237.90
O1    1.07983   18.39
P1    1.00000  212.12
Q1    1.07983   92.36
R2    1.00000  314.57
S1    1.00000  180.00
S2    1.00000    0.00
S4    1.00000    0.00
SSA   1.00000  115.76
T2    1.00000  225.43
LAMB  0.98816  251.92
L2    0.00000  243.57
K2    1.11113   99.37
K1    1.04950  139.93
J1    1.07879   62.55
2N2   0.98816  302.85

In [4]:
# start date as a string can be obtained from
tidefac.start_date

'2021-05-20 00:00:00'

In [5]:
tidefac.rnday

10.0

In [6]:
tidefac.describe()

10.00 days run starting from 2021-05-20 00:00:00 UTC